.whole {
  border: 20px solid blue;
  width: 400px;
}
.north {
  text-align: center;
  width: 300px;
  background-color: red;
  padding: 50px;
  font-size: 50px;
  color: white;
  margin: 0px;
  font-weight: bold;
}

.east {
  text-align: center;
  width: 300px;
  background-color: yellow;
  padding: 50px;
  font-size: 50px;
  color: black;
  margin: 0px;
  font-weight: bold;
}
.south {
  text-align: center;
  width: 300px;
  background-color: #0000FF;
  padding: 50px;
  font-size: 50px;
  color: white;
  margin: 0px;
  font-weight: bold;
}

.west {
  text-align: center;
  width: 300px;
  background-color: purple;
  padding: 50px;
  font-size: 50px;
  color: white;
  margin: 0px;
  font-weight: bold;
}