header {
  background-image: url("http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png");
  background-size: 900px 300px;
  width:1000px;
  height: 300px;  
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom:40px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.container {
  margin: auto;
  width: 1000px;
}

.Anakin_Skywalker {
  font-size: 180%;
}

.cim {
  position: relative;
  top: 180px;
  left: 230px;
  color: #222;
}

main {
  padding: 0px;
  width: 600px;
  position: relative;
  left: 230px;
}

.first_paragraph {
  font-family: 'Abril Fatface', cursive;
  color: #222;
}

.emp {
  font-family: 'Josefin Sans', cursive;
  margin-top: 0px;
}

ul {
  color: black;;
}

li {
  list-style-type: square;
  font-weight: lighter;
  color: #222;
  padding-bottom: 5px;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: #222;
}

h3 {
  font-family: 'Merriweather', serif;
  margin-bottom: 0px;
  padding-bottom:0px;
}

p {
  color: #222;
}

blockquote {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
  font-size:35px;
  
  background-color: dimgray;
  color: white;
  font-weight: bold;
  
}
blockquote::before {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 100px;
  top: -22px;
  content: "“" ;
  position: relative;
} 

hr {
  background-color: black;
}