h1 {
  color: orange;
  font-size: 50px;
}
h2 {
  color: purple;
  font-weight: bold;
  font-size: 30px;
}

ul {
  list-style-type: square;
}

ol {
  color: #FF0066;
  list-style-type: upper-roman;  
}
/*ol :last-child {
  color: black;
  text-decoration:underline;
}
/*-----------------------------------*/
ol li {
  list-style: upper-roman;
  color: #FF0066;
}
ol li:last-child {
  color: black;
}
/*-----------------------------------*/


span {
  color: #FF0066;
  /*text-decoration: underline;*/
}