body {
    background: linear-gradient(0.25turn, #505050, #bebebe, #575757);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.window {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left_arrow {
    height: 380px;
    display: flex;
    align-items: center;
    background-color: white;
    cursor: pointer;
}

.left_arrow:hover {
    opacity: 0.7;
}

.right_arrow {
    height: 380px;
    display: flex;
    align-items: center;
    background-color: white;
    cursor: pointer;
}

.right_arrow:hover {
    opacity: 0.7;
}

.thumbnails_ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
}

.thumbnails_ul li {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 5px 5px -5px rgb(0, 0, 0);
}



.thumbnails_ul li:hover {
    box-shadow: 0px 5px 15px -5px rgb(0, 0, 0);
    
}

.border_arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 150px 100px 150px;
    border-color: transparent transparent #ffffff transparent;
}

.image_viewer_text {
    width: 560px;
    height: 80px;
    background-color: black;
    opacity: 0.5;
    position: relative;
    right: 0px;
    top: -100px;
    color: white;
    padding: 10px;
}

.image_viewer {
    margin: 0px;
    padding: 0px;
    height: 380px;
}


.arrow_box:after {
    top: -82px;
    left: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: relative;
	pointer-events: none;
	border-color: rgba(0, 252, 34, 0);
	border-bottom-color: white;
	border-width: 5px;
    margin-left: 0px;
}